body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*----Navbar Setting Mulai----*/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffd278d0 !important;
    color: #ff0000;
    z-index: 100;
}


.navbar .nav-item {
    margin: 0 !important;
    padding: 0 !important;
}

.navbar .nav-item .nav-link {
    font-size: 18px;
    font-weight: 700;
    color: rgb(51, 51, 51);
    padding: 0 15px;
    margin: 0;
    transition: all .4s ease-in-out;
}

.navbar .nama1:hover {
    color: white !important;
    transition: all .4s ease-in-out;
}

.navbar-brand {
    font-weight: bold;
}

.receh {
    font-size: 20px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(0, 0, 0) !important;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.receh:hover {
    color: rgb(255, 0, 0) !important;
}

.receh2 {
    font-size: 25px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(255, 0, 0);
}

/*----Navbar Setting Selesai----*/
/*----Area setting Mulai----*/
.position-relative {
    background: url(../assets/img/Border\ mie.jpg) no-repeat center center scroll;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 60px;
    padding-bottom: 60px;
    margin-bottom: 100;
    opacity: 0.9;
}

.display-4 {
    color: rgb(255, 255, 255);
    font-weight: bold !important;
    text-shadow: 0 5px 15px #222222;
}

.lead {
    color: rgb(255, 255, 255);
    font-weight: 500 !important;
    text-shadow: 0 5px 15px #222222;
}

.btn {
    background-color: wheat;
    color: #222222;
    stroke: black;
    padding-right: 40px;
    padding-left: 40px;
}

.btnatas {
    font-weight: bold;
    font-size: large;
}

.btnbawah {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.btn:hover {
    background-color: rgb(253, 0, 0) !important;
    color: #222222;
    stroke: black;
    padding-right: 40px;
    padding-left: 40px;
}

.hero .flex {
    margin-right: 2 !important;
}

.blockawal {
    background: url(../assets/img/Border\ mie.jpg) no-repeat center center scroll;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover;
    padding-bottom: 0;
    padding-top: 120px !important;
    color: #000000;
    margin-bottom: 0;
    opacity: 0.9;
}

.blockawal .TKB {
    color: aliceblue !important;
    font-weight: 500;
    text-shadow: 0 3px 2px #000000;
    margin-bottom: 30px;
}

.blockawal .TKA {
    color: aliceblue !important;
    font-weight: 500;
    text-shadow: 0 3px 2px #000000;
    margin-bottom: 30px;
}

.tombol1 {
    color: aliceblue !important;
    cursor: pointer;
}

.tombol1:hover {
    color: rgb(0, 0, 0) !important;
}

.tombolp {
    color: rgb(0, 0, 0) !important;
}

.tombolp:hover {
    color: rgb(244, 0, 0) !important;
}
.menuku{
    font-size: 30px;
}
.btndrop {
    font-size: 20px !important;
    background-color: #ffd278d0 !important;
    color: #000000 !important;
}
.btndrop:hover {
    background-color: #ff0000 !important;
    color: #ffffff !important;
    transition: all .2s ease-in-out;
    
}
.gambarico{
    border: 7px solid black;
	border-radius: 50%;

}
.container{
    padding: 30px !important;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.bormenu{
    background-color: #ffd278 !important;
    color: white;
}
.btnku{
    background-color: #ffd278 !important;
    color: #ffffff !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.btnku:hover{
    background-color: #ff2600d1 !important;
    color: #fff !important;
    margin-left: auto !important;
    margin-right: auto !important;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
/*----Area setting selesai----*/